.current-styling{
 
}

.forecast-style{
    flex-direction: row;
    padding: 10px;
    
}

.icon-styling{
    width: 100px;
}

.card-style{
    margin: 10px;
}

#history{
    display: flex;
    flex-direction: column;
}